{
    "permissions": [
        {
            "path": "/etc/glance/glance-api-paste.ini",
            "owner": "glance:glance",
            "perm": "0640"
        },
        {
            "path": "/etc/glance/glance-cache.conf",
            "owner": "glance:glance",
            "perm": "0640"
        },
        {
            "path": "/etc/glance/glance-glare.conf",
            "owner": "glance:glance",
            "perm": "0640"
        },
        {
            "path": "/etc/glance/glance-glare-paste.ini",
            "owner": "glance:glance",
            "perm": "0640"
        },
        {
            "path": "/etc/glance/glance-manage.conf",
            "owner": "glance:glance",
            "perm": "0640"
        },
        {
            "path": "/etc/glance/glance-registry.conf",
            "owner": "glance:glance",
            "perm": "0640"
        },
        {
            "path": "/etc/glance/glance-registry-paste.ini",
            "owner": "glance:glance",
            "perm": "0640"
        },
        {
            "path": "/etc/glance/glance-scrubber.conf",
            "owner": "glance:glance",
            "perm": "0640"
        },
        {
            "path": "/etc/glance/schema-image.json",
            "owner": "glance:glance",
            "perm": "0640"
        }
    ]
}
