{
    "permissions": [
        {
            "path": "/etc/keystone/keystone-paste.ini",
            "owner": "keystone:keystone",
            "perm": "0640"
        },
        {
            "path": "/etc/keystone/logging.conf",
            "owner": "keystone:keystone",
            "perm": "0640"
        },
        {
            "path": "/etc/keystone/ssl/certs/ca.pem",
            "owner": "keystone:keystone",
            "perm": "0640"
        }
    ]
}
