{
    "permissions": [
        {
            "path": "/etc/neutron/api-paste.ini",
            "owner": "neutron:neutron",
            "perm": "0640"
        },
        {
            "path": "/etc/neutron/rootwrap.conf",
            "owner": "root:neutron",
            "perm": "0640"
        }
    ]
}
