{
    "permissions": [
        {
            "path": "/etc/heat/api-paste.ini",
            "owner": "heat:heat",
            "perm": "0640"
        },
        {
            "path": "/etc/heat/heat.conf.d",
            "owner": "heat:heat",
            "recurse": true
        }
    ]
}
