{
    "permissions": [
        {
            "path": "/etc/cinder/api-paste.ini",
            "owner": "cinder:cinder",
            "perm": "0640"
        },
        {
            "path": "/etc/cinder/rootwrap.conf",
            "owner": "root:cinder",
            "perm": "0640"
        }
    ]
}
