{
    "permissions": [
        {
            "path": "/etc/nova/api-paste.ini",
            "owner": "nova:nova",
            "perm": "0640"
        },
        {
            "path": "/etc/nova/rootwrap.conf",
            "owner": "root:nova",
            "perm": "0640"
        }
    ]
}
