[req]
prompt = no
default_bits = 2048
req_extensions = v3_req
distinguished_name = dn

[dn]
C = SE
ST = Stockholm
L = Stockholm
O = Ericsson
OU = PC Solutions
CN = SMF

[v3_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage=serverAuth,clientAuth
subjectKeyIdentifier=hash
subjectAltName = DNS:pcc1-smf-nsmf.site1-cluster2.5gc.mnc081.mcc240.3gppnetwork.org

